.container {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin-bottom: 50px;
}

.container h1 {
	font-weight: 500;
	font-size: 3em;
}

.container p {
	font-weight: 300;
	font-size: 2.5em;
}
