.container {
	width: 35%;
	background-image: url("http://localhost:3000/assets/images/autumn.jpg");
	background-position: left;
	background-size: cover;
}
.transBack {
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0)
	);
	position: fixed;
	width: 35%;
	height: 100%;
	z-index: 1;
}
