.container {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 50px;
}

.month {
	width: 15%;
	text-align: center;
}

.curr_month {
	font-weight: 600;
	font-size: 2.2em;
}

.prev_month,
.next_month {
	font-size: 2em;
	opacity: 0.3;
}

@media (max-width: 500px) {
	.month {
		width: 20%;
	}
}
