.container {
	padding: 30px 0;
	margin-top: 20px;
}

.plus {
	text-align: center;
	opacity: 0.4;
	transition: all 0.4s;
	position: relative;
	z-index: 1;
}

.plus:hover {
	opacity: 1;
	cursor: pointer;
}

.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	padding-top: 100px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_content {
	width: 60%;
	height: 500px;
	margin: 0 auto;
	background-color: white;
	box-shadow: -5px 4px 19px -5px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
	.modal_content {
		width: 80%;
	}
}

/**********************/
.form {
	background-color: #f2f1ed;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 97%;
	padding: 50px 30px;
}

.inputContainer {
	margin: 20px 0;
}

.label {
	display: inline-block;
	width: 25%;
	padding-left: 10px;
	font-weight: bold;
}

.input {
	width: 75%;
	padding: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.dateContainer,
.timeContainer {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.dateContainer div,
.timeContainer div {
	width: 100%;
}

.dateContainer label,
.timeContainer label {
	width: 50%;
}

.dateContainer input,
.timeContainer input {
	width: 50%;
}

.btnContainer {
	padding-left: 25%;
}

.btnContainer button {
	padding: 5px 10px;
	cursor: pointer;
	background-color: white;
	width: 200px;
	border-radius: 5px;
	font-size: 1.1em;
	box-shadow: 4px 4px 20px -7px rgba(0, 0, 0, 0.75);
}

@media (max-width: 550px) {
	.form {
		padding-top: 5px;
	}
	.dateContainer,
	.timeContainer {
		display: block;
	}
	.label,
	.input {
		width: 50%;
	}
	.btnContainer {
		padding-left: 0;
		text-align: center;
	}
}
